

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Artists</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

	
  <h1>Artists</h1>
  
  <hr>
  <% @artists.each do |artist| %>
  <div class="row">
    <div class="col-xs-3">
        <a href="#" class="thumbnail">
             <%= image_tag artist.image, :size => "200x200" %>
        </a>
		<ul class="list-inline">
		<li><a href="#" title="<%= artist.name %>" data-toggle="popover" data-placement="top" data-content="  <%= artist.bio %> "> <%= artist.name %></a></li>
		
		
	   <li><%= link_to 'Show Artist', artist %></li>
       <li><%= link_to 'Edit', edit_artist_path(artist) %></li>
      <li> <%= link_to 'Destroy', @artist, method: :delete, data: { confirm: 'Are you sure?' } %></li>
	  
    </div>
	
    <tbody>


		</ul>
  <% end %>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>
    
<%= button_to('New Artist', new_artist_path, class: 'btn btn-large btn-primary', method: :get) %>
<%= button_to('View Artist', artists_path, class: 'btn btn-large btn-primary', method: :get) %>


</body>


</html>



